 
<unity>
  <typeAliases>
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perRequest" type="RithV.FX.Unity.UnityHttpContextPerRequestLifetimeManager, RithV.FX" />

    <!--<typeAlias alias="singleton"
        type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,
               Microsoft.Practices.Unity" />-->
    <typeAlias alias="perThread"
         type="Microsoft.Practices.Unity.PerThreadLifetimeManager,
               Microsoft.Practices.Unity" />
    <!--<typeAlias alias="external"
           type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,
               Microsoft.Practices.Unity" />-->
  </typeAliases>

  <containers>
    <container name="containers">
      <types>
 
        <type type="RithV.FX.Auth.IFormsAuthentication, RithV.FX" mapTo="RithV.FX.Auth.DefaultFormsAuthentication, RithV.FX">
          <lifetime type="perRequest" />
        </type>
        <type type="RithV.FX.Base.IHttpClientObject, RithV.FX" mapTo="RithV.FX.Base.HttpClientObject,RithV.FX">
          <lifetime type="perThread" />
        </type>
        <type type="RithV.FX.Base.IHttpClientHelper, RithV.FX" mapTo="RithV.FX.Base.HttpClientHelper,RithV.FX">
          <lifetime type="singleton" />
        </type> 
      <type type="RithV.FX.Helper.IDataCacheExtrns, RithV.FX" mapTo="RithV.FX.Helper.DataCacheExtrns,RithV.FX">
          <lifetime type="singleton" />
        </type> 
     
      </types>
    </container>
  </containers>

</unity>
